/*a {
    text-decoration: underline;
}
*/
.alert-info a {
  color: white;
  text-decoration: underline;
}

.alert-info {
  background-color: #2780e3;
}

code {
  background-color: #ffffff33;
}

.figure {
  text-align: center;
}

.bs-sidenav {
  padding: 10px;
}
